#logo{
			z-index: 2;
			margin-top: -1%;
			position: absolute;
			height: 9vw;
			width: 12vw;
			border-radius: 10px;
		}
#title{
			z-index: 1;
			margin-top: 1%;
			position: relative;
			font-family: sans-serif;
			font-weight: bold;
			color: white;
			padding-top: 2vw;
			padding-bottom: 3vw;
			font-size: 3vw;
			background-color: #0984e3;
			height: 2vw;
			width: 100%;
			border-radius: 15px 5px 5px 0px;
		}
#menu{
			min-height: 40vw;
			width: 20vw;
			margin-left: -6vw;
		}
#menu li{
			display: none;
			margin-left:5vw;
			margin-bottom: 1%;
			list-style-type: none;
			background-color: #2196f3    ;
			color: white;
			border-radius: 0px 20px 20px 0px;
			font-size: 1.3vw; 
			text-align: center;
			height: 4.3vw;
			width: 12.5vw;
			padding: 5px;
		}
#menu:hover li{
			display:block;
		}
#menu a{
			text-decoration: none;
			color:white;
		}

#board{
	position: absolute;
	height:270%;
	width:83.5%;
	margin-left: 15%;
	margin-top: 2%;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	overflow-wrap: all;
}
.inputbox{
	width:430px;
	margin-right: 10%;
	margin-left: 0%;
	padding:5px;
	border-radius:15px;
	background-color:#ffffff;
}
form{
	padding-top: 1vw;
	padding-left: 20%;
	font-size: 17px;
	font-family:Comic Sans MS;
}
label{
	padding-right:20px; 
}
td{
	padding: 2px;
}
#submit_btn{
	background-color:#3498db;
	padding:5px;
	color:white;
	width:80%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
}