/*CSS style sheet*/

#main-wrapper{
	width:500px;
    margin:0 auto;
	background:white;
	padding:5px;
	border-radius:10px;
	border:2px solid #2980b9;
	background-color:white;
	font-family:Comic Sans MS;
}
.avatar{
	width:300px;
	margin-top:10%;
	margin:10%;
	text-align:center;
	border-radius:50%;
}

.avatar1{
	width:40%;
	height:30%;
	border-radius:50%;
}

#fields{
	border-radius:50%;
}

.myform{
	width:450px;
	margin:0 auto;
}

.inputvalues{
	width:430px;
	margin:0 auto;
	padding:5px;
	border-radius:15px;
	background-color:#ffeaa7;
}

#login_btn{
	margin-top:10px;
	background-color:#2ecc71;
	padding:5px;
	color:white;
	width:75%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
}

#register_btn{
	margin-top:10px;
	margin-bottom:3%;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:90%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
}

#feedback_btn{
	background-color:#e74c3c;
	padding:5px;
	color:white;
	width:40%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
}
#contactme_btn{
	
	background-color:#e74c3c;
	padding:5px;
	margin-left: 5%;
	color:white;
	width:40%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
	
}

#signup_btn{
	margin-top:10px;
	margin-bottom:10px;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:80%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	border-radius:15px;
}

#back_btn{
	margin-bottom:20px;
	background-color:#e67e22;
	padding:5px;
	color:white;
	width:30%;
	text-align:center;
	font-size:12px;
	border-radius:15px;
	margin-left:60%;
}

#logout_btn{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#e67e22;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}